<footer class="site-footer text-upper">
<div class='grid container'>
<div class='grid__col--1-of-3 grid__col'>
<ul class="no-bullet page-list">
{% for page in site.pages %}
{% if page.in_footer %}
<li><a href="{{ page.permalink }}" class="no-underline">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
</div>
<div class='grid__col--1-of-3 grid__col'>
Share with<br>
<a href='https://facebook.com/sharer/sharer.php?u={{ site.url | url_escape }}' target='_blank' class='no-underline'>
<svg><use xlink:href="/symbol-defs.svg#icon-facebook"></use></svg>
</a>
<a href='https://twitter.com/intent/tweet/?text={{ site.title | url.escape }},%20{{ site.tagline | url.escape }}&via=pschfr&url={{ site.url | url_escape }}' target='_blank' class='no-underline'>
<svg><use xlink:href="/symbol-defs.svg#icon-twitter"></use></svg>
</a>
<a href='mailto:?to=%20&subject=%20&body={{ site.url | url_escape }}' class='no-underline'>
<svg><use xlink:href="/symbol-defs.svg#icon-mail"></use></svg>
</a>
</div>
<div class='grid__col--1-of-3 grid__col'>
Beam me up<br>
<a class='arrow no-underline' href='#top'>
<svg><use xlink:href="/symbol-defs.svg#icon-chevron-thin-up"></use></svg>
</a>
</div>
</div>
</footer>
<script src="/js/smoothscroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.26/webfontloader.js" async></script>
<script type="text/javascript">
WebFontConfig = {
	google: { families: ['Sorts Mill Goudy', 'Sorts Mill Goudy:italic', 'Sorts Mill Goudy:bold'] },
	active: function() { sessionStorage.fonts = true; },
	timeout: 2000
};

(function() {
	if (sessionStorage.fonts) {
		console.log("Fonts loaded from cache.");
		document.documentElement.classList.add('wf-active');
	} else
		console.log("No fonts loaded from cache.");
})();
</script>
