<header id="top" class="site-header {% if page.url == "/" %}home{% endif %}">
{% if page.url == "/" %}
<div class="wrap fade-in">
<h1 class="site-title font-normal">{{ site.title }}</h1>
<h3 class="site-tagline font-normal">web designer<span class="amp">&nbsp;&amp;&nbsp;</span>developer</h3>
</div>
<a class='arrow fade-in' href='#about'>
<svg><use xlink:href="/symbol-defs.svg#icon-chevron-thin-down"></use></svg>
</a>
</div>
{% else %}
<div class="wrap">
<h1 class="site-title font-normal">{{ page.title }}</h1>
</div>
<a href="/" class="home"><svg><use xlink:href="/symbol-defs.svg#icon-chevron-thin-left"></use></svg> Home</a>
{% endif %}
<div id="sky">
<img class="clouds" id="clouds-long" src="http://res.cloudinary.com/lloydfenton/image/upload/v1470149771/cloud-long_1_ra4ohn.png">
<img class="clouds" id="clouds1" src="http://res.cloudinary.com/lloydfenton/image/upload/v1470149769/cloud1_1_qwikqe.png">
<img class="clouds" id="clouds2" src="http://res.cloudinary.com/lloydfenton/image/upload/v1470149771/Cloud2_1_u07d4u.png">
</div>
</header>
