<header id="site_header" class="site-header {% if page.url == "/" %}home{% endif %} ">
<script type="text/javascript">
var rnd = document.getElementById('site_header');
rnd.className += "bg" + Math.floor(Math.random() * (15 - 1 + 1) + 1);
</script>
<div class="wrap fade-in">
{% if page.url == "/" %}
<h1 class="site-title font-normal">{{ site.title }}</h1>
<h3 class="site-tagline font-normal">web designer<span class="amp">&nbsp;&amp;&nbsp;</span>developer</h3>
</div>
<a class='arrow fade-in-delayed' href='#about'>
<svg><use xlink:href="/symbol-defs.svg#icon-chevron-thin-down"></use></svg>
</a>
{% else %}
<h1 class="site-title font-normal">{{ page.title }}</h1>
</div>
<a href="/" class="home"><svg><use xlink:href="/symbol-defs.svg#icon-chevron-thin-left"></use></svg> Home</a>
{% endif %}
</header>
